@inject ICapacityServices _capacityServices
@page "/capacity/index"

<AuthorizeView Roles="Admin">
    <Authorized>
        @foreach (var item in Capacities)
        {
            <p>@item.Slots</p>
        }
    </Authorized>
    <NotAuthorized>
        <div class="alert alert-danger" role="alert">
            Você não tem permissão para acessar esta pagina!
        </div>
    </NotAuthorized>
</AuthorizeView>


@code {
    IEnumerable<Capacity> Capacities = Enumerable.Empty<Capacity>();

    protected override async Task OnInitializedAsync()
    {
        

        try
        {
            Capacities = await _capacityServices.GetAllCapacitiesAsync();
        }
        catch (Exception ex)
        {   
            Console.WriteLine(ex.Message);
        }

        
    }    
}
